mixin head(title)
  head
    meta(charaset="utf-8")
    title=title
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]
    //<base href="/">
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(name='description', content='prac App')
    link(rel='stylesheet', href='/stylesheets/style.css')