doctype html
html(lang="en")
  include common/header.pug
  +head("Three.js Prac")
  body
    header 
      div#container
    script(src="https://cdn.jsdelivr.net/gh/tweenjs/tween.js@v16.7.1/src/Tween.js")
    script
      include ../public/javascripts/bundle.js
    